# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\web-projects\glassmorphism-calculator-ui\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
